@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Anek+Tamil:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  /*padrão do style*/
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body,
html {
  /*corpo e html */
  width: 100%;
  /*largura */
  min-height: 100vh;
  /*altura minima */
  overflow: auto;
  /*overflow */
  background-color: #ffffff;
  /*cor de fundo */
}

.Home {
  /*home */
  position: relative;
  /*posição relativa, já que os elementos ocupam posição flex*/
  background-image: radial-gradient(farthest-corner at 40px 40px, #50c5ee 60%, rgba(0, 212, 255, 0.5) 100%);
  /*imagem de fundo */
  min-height: calc(100vh - 60px);
  /*altura do header*/
  margin: 15px;
  /*margem */
  padding: 15px;
  /*padding */
  border-radius: 20px;
  /*borda redonda */
  color: #000000;
  /*cor */
  -webkit-box-shadow: 0px 0px 15px #0000004d;
          box-shadow: 0px 0px 15px #0000004d;
  /*sombra */
}

.Home > h2 {
  /*título do home*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*centraliza o texto */
  color: #000000;
  /*cor */
}

.Home__container {
  /*container do home*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*centraliza o texto */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*centraliza o texto */
  padding: 1.5rem;
  /*padding */
}

@media (max-width: 350px) {
  /*quando a largura máxima for 350px o justify contenct vai ser unset (responsividade)*/
  .Home__container {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.Paleta_Lista {
  /*lista de paletas*/
  display: grid; /*grid*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  /*quando a largura máxima for 1220px o grid-template-columns vai ser 1fr*/
  .Paleta_Lista {
    grid-template-columns: repeat(2, 1fr); /*grid*/
  }
}

@media (max-width: 840px) {
  /*quando a largura máxima for 840px o justify contenct vai ser unset (responsividade)*/
  .Paleta_Lista {
    grid-template-columns: 1fr; /*grid*/
  }
}

@media (max-width: 840px) {
  /*quando a largura máxima for 840px o justify contenct vai ser unset (responsividade)*/
  .Paleta_Lista {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    /*grid*/
  }
}

.Paleta_Card_Item,
.Paleta_Lista_Item {
  /*card de paleta*/
  background: #ffffff4d;
  border-radius: 10px;
  /*borda redonda */
  padding: 10px;
  /*padding */
  width: 315px;
  /*largura */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*espaçamento entre os elementos*/
}

.Paleta_Card_Item {
  /*card de paleta*/
  height: 150px;
  width: 315px;
}

@media (max-width: 400px) {
  /*quando a largura máxima for 400px o height vai ser 100px*/
  .Paleta_Card_Item,
  .Paleta_Lista_Item {
    width: 210px;
    height: 180px;
  }
}

.Paleta_Card_Item > div,
.Paleta_Lista_Item > div {
  /*card de paleta*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*espaçamento entre os elementos*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*flex */
}

.Paleta_Card_Item__sabor,
.Paleta_Lista_Item__sabor {
  /*card de paleta*/
  font-size: 1.5em;
  font-weight: 700;
  /*negrito */
  line-height: 100%;
  /*altura do texto */
}

.Paleta_Card_Item__descricao,
.Paleta_Lista_Item__descricao {
  /*card de paleta*/
  font-size: 0.85em;
}

.Paleta_Card_Item__preco,
.Paleta_Lista_Item__preco {
  /*card de paleta*/
  color: #9400d3;
}

.Paleta_Lista_Item__foto {
  /*card de paleta*/
  height: 150px;
  margin-right: -60px;
  /*margem */
}

.Chosed_Paleta_Space {
  /*espaço para a paleta escolhida*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*flex em colunas */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*centraliza o texto */
  padding: 2rem;
}

#idPaleta {
  /*input da pesquisa da paleta*/
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 10px;
  border: 2px solid #9400d3;
  outline: none;
  /*borda sem sombra */
}

.Default_button {
  /*botão de pesquisa da paleta*/
  background-color: transparent;
  /*cor de fundo transparente */
  border: 2px solid #9400d3;
  padding: 0.3rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 10px;
  width: 315px;
  cursor: pointer;
  /*cursor */
  margin-top: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.Default_button:hover {
  /*hover do botão de pesquisa da paleta*/
  background-color: #9400d3;
  color: #ffffff;
}

.Search_button {
  /*botão de pesquisa da paleta*/
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.5rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.Search_button:hover {
  /*hover do botão de pesquisa da paleta*/
  background-color: #9400d3;
  color: #ffffff;
}

#Chosed_Paleta_Input_Space {
  /*espaço para a paleta escolhida*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header {
  /*header*/
  max-width: 1010px;
  margin: 0 auto 25px auto;
  position: relative;
  /*posição relativa para o pai */
}

.row {
  /*sacola*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*espaçamento entre os elementos*/
  margin: 20px 0 35px 0;
}

.Logo {
  /*logo*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #ffffff4d;
  width: 340px;
  height: 45px;
}

.Logo_titulo {
  /*título do logo*/
  position: absolute;
  left: 50px;
  font-weight: 600;
  font-size: 2.5em;
}

.Logo__icone {
  /*ícone do logo*/
  position: absolute;
  left: -20px;
  top: -15px;
}

@media (max-width: 1220px) {
  /*quando a largura máxima for 1220px o header vai diminuir a width (responsividade)*/
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  /*quando a largura máxima for 840px o header vai diminuir a width (responsividade)*/
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  /*quando a largura máxima for 400px o header, row e logo irão diminuir a width (responsividade)*/
  .Header {
    max-width: 250px;
  }
  .Logo__titulo {
    /*título do logo*/
    font-size: 1.5em;
  }
}

.Modal_overlay {
  /*overlay do modal*/
  background-color: #00000050;
  width: 100vw;
  /*tamanho total da tela */
  height: 100vh;
  /*altura total da tela */
  position: fixed;
  /*posição fixa */
  top: 0;
  left: 0;
  z-index: 9999;
  /*z-index para o modal */
  display: none;
  /*oculta o modal */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  /*scroll */
}

.modal {
  /*modal*/
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  /*scroll */
}

.Modal_header {
  /*header do modal*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: radial-gradient(farthest-corner at 40px 40px, #50c5ee 60%, #00d4ff80 100%);
  /*gradiente */
  padding: 1rem;
}

.Close_modal {
  /*botão fechar do modal*/
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*transição */
  cursor: pointer;
}

.Close_modal:hover {
  /*hover do botão fechar do modal*/
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Modal_body {
  /*corpo do modal*/
  padding: 0.5rem 1rem;
}

.Modal_body div {
  /*div do corpo do modal*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Modal_body div input,
textarea {
  /*input e textarea do corpo do modal*/
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
}

.Modal_body div button {
  /*botão do corpo do modal*/
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: solid 1px #0097ce;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Modal_body div button:hover {
  /*hover do botão do corpo do modal*/
  background-color: #0097ce;
  color: #fff;
}

.Button_modal_create {
  /*botão do corpo do modal*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.acoes {
  /*acoes*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.btn {
  /*botão*/
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 45%;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Acoes_editar {
  /*acoes editar*/
  color: #02a6e7;
  border: solid 1.2px #02a6e7;
  background-color: transparent;
}

.Acoes_editar:hover {
  /*hover do botão editar*/
  background-color: #02a6e7;
  color: #fff;
}

.Acoes_apagar {
  /*acoes apagar*/
  color: #e70202;
  border: solid 1.2px #e70202;
  background-color: transparent;
}

.Acoes_apagar:hover {
  /*hover do botão apagar*/
  background-color: #e70202;
  color: #fff;
}

.List_all {
  /*lista de todos os produtos*/
  display: none;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */
